#用来存储不会检查git版本变化、不会上传到git仓库上的文件

*.class

#package file
#*.jar
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath

#idea
.idea
/idea/
*.ipr
*.iml
*.iws

#temp file

*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
